[tool.poetry]
name = "declarativex"
version = "0.1.0"
description = "Declarative HTTP client for Python"
authors = ["Vladyslav Halatskyi <xfloydya@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
httpx = "^0.24.1"
pydantic = "^2.3.0"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.1.0"
pylint = "^2.17.5"
pytest = "^7.4.1"
pytest-asyncio = "^0.21.1"
coverage = "^7.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
